*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(128, 128, 128, 0.5)),url("./images/bmr-calculator.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;

}
.container{
    background-color: orangered;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.heading{
    font-size: 20px;
}
.navbar{
    width:100%;
    height:50px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:30px 20px;
    background-color: aquamarine;
}
.menu{
    display:flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;

}
.menu li{
    margin:10px 20px;
}
.navbar .logo{
    color: blue;
    font-size: 50px;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.active{
    background-color: blue;
    padding:10px 20px;
    border-radius: 5px;
}
.bmr{
    margin:20px 20px;
    font-size: 30px;
    line-height: 70px;
}

input[type="text"],
    input[type="number"],
    input[type="radio"] {
      font-size: 18px;  
      padding: 10px;     
      margin: 5px 0;    
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 250px;      
    }
input[type="radio"]{
    width: auto;
    margin-right: 10px;
}
button{
    border:none;
    font-weight: bold;
    color:white;
    background-color: orangered;
    font-size: 30px;
    padding:10px 20px;
    margin-right: 20px;
    cursor: pointer;
}
button:hover{
    background-color: gray;
    border-style: solid;
    box-shadow: 0 0 gray;
}
.cal_link{
    text-decoration: none;
    color: white;
    background-color: gray;
    border-style: solid;
    font-size: 30px;
    padding:10px 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    white-space: nowrap;
}
.cal_link:hover{
    background-color: orangered;
    border-radius: 30px;
}
.bmr p{
    word-wrap: break-word;
    white-space:normal;
}

@media screen and (max-width: 819px) {
    .navbar {
        display: none;
    }
}
@media screen and (min-width: 820px) {
    .bmr .cal_link,.links {
        display: none;
    }
}